@tailwind base;
@tailwind components;
@tailwind utilities;

#prl-root {
  all: initial;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#prl-root * {
  box-sizing: border-box;
}
